//pre.sourceCode { background: var(--dark10); }
//pre.sourceCode { background: rgba(0, 0, 0, 0.035) }
code span.al { color: #ffff00; } /* Alert */
code span.an { color: #f92672; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #AE99F5; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #f92672; font-weight: bold; } /* ControlFlow */
code span.ch { color: #F7DA5A; } /* Char */
code span.cn { color: #AE99F5; } /* Constant */
code span.co { color:var(--gray9); font-style: italic; } /* Comment */
code span.do { color: var(--gray9); } /* Documentation */
code span.dt { text-decoration: underline; } /* DataType */
code span.dv { color: #AE99F5; } /* DecVal */
code span.er { color: #ffff00; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #AE99F5; } /* Float */
code span.fu { color: #a6e22e; } /* Function */
code span.im { } /* Import */
code span.in { color: #f92672; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #f92672; font-weight: bold; } /* Keyword */
code span.op { color: #f92672; } /* Operator */
code span.pp { font-weight: bold; } /* Preprocessor */
code span.sc { color: #F7DA5A; } /* SpecialChar */
code span.ss { color: #F7DA5A; } /* SpecialString */
code span.st { color: #F7DA5A; } /* String */
code span.va { } /* Variable */
code span.vs { color: #F7DA5A; } /* VerbatimString */
code span.wa { color: #ffff00; font-weight: bold; } /* Warning */